# Cognito User Pool ID (from RustyAuthStack output)
VITE_USER_POOL_ID=

# Cognito App Client ID (from RustyAuthStack output)
VITE_CLIENT_ID=

# API Gateway URL (from RustyGoalCheckerStack output)
VITE_API_URL=
